.greating-container {
    grid-column: 1/-1;

    width: 100%;
    height: 20vh;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: var(--clr2);

    .greating {
        font-family: Circular-Med;
        font-size: 27px;
        text-align: center;
        color: #454444;
        padding-block: 15px;
        margin-top: 0;
    }

    h3 {
        display: flex;
        font-family: Circular-Med;
        justify-content: center;
        align-items: center;
        color: #454444;

        .btc-symbol {
            width: 50px;
            margin-inline-end: 15px;
        }
    }

}